input:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url(./background.png);
    background-repeat: repeat;
    background-size: 96px;
    transform: rotate(-9.5deg);
    z-index: -1;
}

#error-message {
    display: block;
    visibility: hidden;
    height: 18.5px;
    color: red;
    text-align: center;
    margin-bottom: 4.5px;
}

#navbar {
    background-color: rgb(17, 24, 39);
    width: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
}

#center-container {
    background-color: rgb(17, 24, 39);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 450px;
    height: 450px;
    scale: 0.90;
}

#subtitle {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 27px;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 18px;
}

#account-address {
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 13.5px;
    width: 100%;
    font-size: 14.5px;
}

#asset-amount {
    padding: 13.5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 13.5px;
    width: 100%;
    font-size: 14.5px;
}

#faucet-id {
    color: white;
    margin-top: 3.6px;
}

#visibility-buttons button {
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 13.5px;
    background-color: #FF5500;
    width: 100%;
    margin-top: 13.5px;
    font-size: 16.2px;
}

#visibility-buttons button:disabled {
    background-color: rgba(255, 85, 0, 0.5);
}

.info-message {
    color: white;
    font-weight: bold;
    text-align: center;
}

.loader-overlay {
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 150px;
    margin: 0 0 0 -75px;
    padding: 10px;
    background: rgb(32, 35, 40);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 10px;
}

.info-container {
    display: block;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 24, 39);
    border-radius: 10px;
    padding: 18px;
    scale: 0.90;
}

#tx-link {
    color: #FF5500;
    text-decoration: none;
}

#tx-link:hover {
    text-decoration: underline;
}

.loader {
    border: 8px solid #ccc;
    border-top: 8px solid rgb(237, 136, 58);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    animation: spin 2s linear infinite;
}

.loader-status {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#client-commands {
    background-color: black;
    color: lightgray;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    padding: 13.5px;
    border: 1px solid #ccc;
}
