[Unit]
Description=Miden node
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
Environment="OTEL_SERVICE_NAME=miden-node"
EnvironmentFile=/lib/systemd/system/miden-node.env
ExecStart=/usr/bin/miden-node bundled start
WorkingDirectory=/opt/miden-node
User=miden-node
RestartSec=5
Restart=always
