[Unit]
Description=Miden faucet
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/lib/systemd/system/miden-faucet.env
ExecStart=/usr/bin/miden-faucet start
WorkingDirectory=/opt/miden-faucet
User=miden-faucet
RestartSec=5
Restart=always
